---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* Anpassung für Anker Starter hier */

.anchor-link {
  opacity: 0;           /* Unsichtbar im Normalzustand */
  text-decoration: none;
  margin-left: 0.5em;   /* Abstand zum Text */
  color: #a1a1a1;       /* Dezente Farbe */
  transition: opacity 0.2s;
}

/* Anker anzeigen, wenn man über die Überschrift fährt */
h1:hover .anchor-link,
h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link {
  opacity: 1;
}