on:
  # schedule:
  #  - cron: 0 0 * * 0 # run weekly
  workflow_dispatch: # run manually

name: Broken Link Check
jobs:
  check:
    name: Broken Link Check
    runs-on: ubuntu-latest
    steps:
      - name: Broken Link Check
        uses: technote-space/broken-link-checker-action@v2
        with:
         TARGET: https://beschlagnahmt.org/ 
         ASSIGNEES: le1b1
         RECURSIVE: true
         TITLE: Broken link found (${URL})
         EXCLUDED_KEYWORDS: https://haveibeenpwned.com/,  https://support.signal.org
